.news__left {
  padding-left: 13% !important;
  padding-right: 115px !important;
  padding-top: 80px;
  color: #ffffff;
  background-color: #222222;
}

.news__right {
  padding-left: 115px !important;
  padding-right: 13% !important;
  padding-top: 80px;
  background-color: #f3f3f3;
}

.news__date {
  font-size: 13px;
}

.news__title {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.news__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}