.about {
  position: relative;
  background-color: #11749e;
  padding-bottom: 120px;
  color: #ffffff;
}

.about__slogan {
  margin-top: 156px;
  margin-bottom: 110px;
}

.about__letter {
  position: absolute;
  width: 100%;
  top: 0;
}

@media (max-width: 768px) {
  .about {
    padding-bottom: 40px;
  }
  
  .about__slogan {
    margin-top: 60px;
    margin-bottom: 70px;
  }

  .about__letter {
    top: -70px;
  }
}