.about {
  position: relative;
  
  padding-bottom: 120px;

  color: #ffffff;

  background-color: #11749e;
}

.about__slogan {
  margin-top: 156px;
  margin-bottom: 110px;
}

.about__letter {
  position: absolute;
  top: 0;
  
  width: 100%;
}

@media (max-width: 768px) {
  .about {
    padding-bottom: 40px;
  }

  .about__slogan {
    margin-top: 60px;
    margin-bottom: 70px;
  }

  .about__letter {
    top: -70px;
  }
}