.blog__title {
  margin-top: 40px;
  margin-bottom: 23px;
  color: #11749e;
  font-size: 18px;
  font-weight: 500;
  // line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.blog__text {
  color: #222222;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}