.blog-area {
  position: relative;
  background-color: #ffffff;
  padding-bottom: 105px;
  color: #222222;
}

.blog-area__slogan {
  margin-top: 160px;
  margin-bottom: 110px;
}

.blog-area__letter {
  position: absolute;
  width: 100%;
  top: 0;
}

.blog-area__intro {
  margin-bottom: 70px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 992px) {
  .blog-area {
    padding-bottom: 40px;
  }

  .blog-area__item {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .blog-area {
    padding-bottom: 40px;
  }
  
  .blog-area__slogan {
    margin-top: 90px;
    margin-bottom: 70px;
  }

  .blog-area__letter {
    top: -70px;
  }

  .blog-area__intro {
    margin-bottom: 40px;
  }
}