.contact {
  position: relative;
  color: #ffffff;
  background-image: url('../img/contact-bg.jpg');
  background-color: #000000;
  background-position: center center;
  background-size: cover;
}

.contact__slogan {
  margin-top: 220px;
  margin-bottom: 145px;
}

.contact__letter {
  position: absolute;
  margin-top: 55px;
  padding-right: 30px;
  width: 100%;
  top: 0;
}

@media (max-width: 768px) {
  .contact__slogan {
    margin-top: 90px;
    margin-bottom: 70px;
  }

  .contact__letter {
    top: -100px;
  }

  .contact__intro {
    margin-bottom: 40px;
  }
}
